/**
 * tab-main.css
 */

.padding-vertical {
	margin-top: 8px;
	padding-bottom: 6px;
}

.white {
	background-color: white;
}

.text-white {
	color: white;
}

.toolbar-bg {
	height: 60px;
	padding-top: 20px;
	background-color: cornflowerblue;
}

.vertical {
	width: 100%;
	height: 20px;
	line-height: 20px;
}

.vertical-img {
	width: 20px;
	height: 20px;
}

.round_icon {
	width: 20px;
	height: 20px;
	margin-right: 6px;
	border-radius: 50%;
}

.banner {
	border-radius: 6px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: 90%;
}


/**
 * tab-classify.css
 */

.mui-bar~.mui-content .mui-fullscreen {
	top: 44px;
	height: auto;
}

.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 1;
}

.mui-bar~.mui-pull-top-tips {
	top: 24px;
}

.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
		-webkit-transition-duration: 400ms;
		transition-duration: 400ms;*/
	margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}

.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}

.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.mui-pull-top-canvas canvas {
	width: 40px;
}

.mui-slider-indicator.mui-segmented-control {
	background-color: #efeff4;
}

.img-padding{
	padding: 3px;
}

.margin-top-10{
	margin-top: 10px;
}
