<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<script src="js/vue.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<h3 class="mui-title">Vue.js实例</h3>
		</header>
		<div class="mui-content">
			<div id="title">
				<h4>数据和事件绑定</h4>
				<h2 @click="handleClick"  :title="title">{{titles}}</h2>
				<h4>双向绑定</h4>
				<input v-model="inputC" />
				<label>{{inputA}}</label>
				<h4>计算属性和监听器<h4/>
			<div>
				<input  v-model="inputB" />
				<input v-model="inputC" />
				<h4>{{twoInput}}{{count}}</h4>
			</div>
			<h4>v-if,v-show,v-for<h4/>
				<h3 v-if="show">Hi,World</h3>
				<h3 v-show="show">Hi,World</h3>
				<button  @click="toggle" class="mui-btn mui-btn-blue">Toggle</button>
		    <ul>
			<li v-for="item of list">
				{{item}}
			</li>
		   </ul>
		<h4>todolist实践<h4/>
		<input v-model="todo"/><button @click="submitTodo" class="mui-btn mui-btn-blue">提交</button>
		<ul class="mui-table-view">
			<!--<li v-for="items of todolist">{{items}}</li>-->
			<todo-item  v-for="(item,index) of todolist" :content="item" :index="index" @delete="handleDelete">
			</todo-item>
		</ul>
			</div>

		<script src="js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();

           //全局组件
           Vue.component('todo-item',{
           	props:['content','index'],//属性
           	template:'<li @click="handleclick" class="mui-table-view-celll"><h3>{{content}}</h3></li>',
           	methods:{
           		handleclick:function(){
           			this.$emit('delete',this.index);
           		}
           	}
           });

			new Vue({
				el: '#title',
				data: {
					titles: 'Hello World',
					title: 'You are my world.',
					inputA: 'this is input',
					inputB: '',
					inputC: '',
					count: 0,
					show:true,
					list:[1,2,3],
					todo:'',
					todolist:[]
				},
				methods: {
					handleClick: function() {
						this.content = "哈哈哈哈";
					},
					toggle:function(){
						this.show=!this.show;
					},
					submitTodo:function(){
						this.todolist.push(this.todo);
						this.todo='';
					},
					handleDelete:function(index){
						this.todolist.splice(index,1);
						mui.toast('删除成功');
					}
				},
				computed: {
					twoInput: function() {
						return this.inputB + " " + this.inputC;
					}
				},
				watch: {
					twoInput: function() {
						this.count++;
					}
				}
			});
		</script>
	</body>

</html>